<div class="demo-container">
  <mdl-layout mdl-layout-fixed-drawer>
    <mdl-layout-drawer>
      <!-- Title on side menu bar (don't need title, do we?)
      <mdl-layout-header mdl-layout-header>
        <mdl-layout-header-row>
          <mdl-layout-title>Title</mdl-layout-title>
        </mdl-layout-header-row>
      </mdl-layout-header>
      -->
      <app-menu></app-menu>        
    </mdl-layout-drawer>
    <mdl-layout-content>
      <app-map></app-map>
    </mdl-layout-content>
  </mdl-layout>
</div>
